# git-scm.com/docs/gitignore

.idea/*
!.idea/codeStyles/
!.idea/dictionaries/
.idea/dictionaries/*
!.idea/dictionaries/trivago.xml
.ideaDataSources/

.gradle/
build/
out/
target/
vendor/

*.iml
*.ipr
*.iws

application-dev.yml
jmeter.log
.envrc

**/src/main/docker/*
!**/src/main/docker/Dockerfile
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/infrastructure/blackbox-test.txt
/.passwords.mk
/resources/gcp/service_accounts/hsw-cloudsql-user-edge.json
/resources/gcp/service_accounts/hsw-monitoring-user-edge.json
/resources/gcp/service_accounts/hsg-cloudsql-user-prod.json
/resources/gcp/service_accounts/hsg-monitoring-user-prod.json
/resources/gcp/service_accounts/hsg-cloudsql-user-edge.json
/resources/gcp/service_accounts/hsg-cloudsql-user-stage.json
/resources/gcp/service_accounts/hsg-monitoring-user-edge.json
/resources/gcp/service_accounts/hsg-monitoring-user-stage.json
/resources/gcp/service_accounts/hsg-ci-service-account-prod.json
